@import '../../variables/variables';
@import '../../mixins/mixins';

/* =====================================================
                    Histroy part start
===================================================== */
#histroy {
    background: #0078c20d;
    padding: 130px 0;

    .image{
        position: relative;
        .img img{
            width: 100%;
        }
        .expert{
            display: inline-block;
            background: #0077C0;
            padding: 72px 28px;
            border: 10px solid #fff;
            border-radius: 5px;
            position: absolute;
            bottom: -85px;
            left: -175px;
            h2{
                font-size: 45px;
                color: #fff;
                font-weight: 700;
                width: 243px;
                text-align: center;
            }
        } 
    }
    .detail{
        h6{
            font-size: 20px;
            color: #0077C0;
            font-weight: 600;
        }
        h3{
            font-size: 40px;
            color: #222;
            font-weight: 700;
            width: 584px;
            line-height: 48px;
            margin-top: 15px;
        }
        p{
            font-size: 16px;
            color: #7a7a7a;
            font-weight: 400;
            line-height: 28px;
            width: 505px;
            margin-top: 30px;
        }
        .list{
            display: flex;
            margin-top: 20px;
            .his-text{
                margin-left: 20px;
                h4{
                    font-size: 25px;
                    color: #222;
                    font-weight: 700;
                }
                p{
                    margin-top: 15px;
                    width: 436px;
                }
            }
        }
    }
    .mar-top{
        margin-top: 100px;
    }
}

/* =====================================================
                    Histroy part end
===================================================== */